.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
.club-news,
.fixtures-and-results,
.facilities {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #ccc;
}
.club-news .title-section,
.fixtures-and-results .title-section,
.facilities .title-section {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.club-news .title-section .span-title,
.fixtures-and-results .title-section .span-title,
.facilities .title-section .span-title {
  width: 20%;
  display: block;
  font-size: 20px;
  font-weight: 600;
}
.club-news .title-section .btn-view,
.fixtures-and-results .title-section .btn-view,
.facilities .title-section .btn-view {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
}
.club-news .title-section .btn-view a,
.fixtures-and-results .title-section .btn-view a,
.facilities .title-section .btn-view a {
  border: 1px solid #ccc;
  background-color: #ccc;
  height: fit-content;
  padding: 10px;
}
.club-news .title-section .btn-view a:hover,
.fixtures-and-results .title-section .btn-view a:hover,
.facilities .title-section .btn-view a:hover {
  border: 1px solid #f7d800;
  background-color: #f7d800;
}
.club-news .title-section .btn-view a span,
.fixtures-and-results .title-section .btn-view a span,
.facilities .title-section .btn-view a span {
  width: 100%;
  padding: 5px;
  color: black;
}
.club-news .title-section .btn-view a span:hover,
.fixtures-and-results .title-section .btn-view a span:hover,
.facilities .title-section .btn-view a span:hover {
  color: white;
}
.club-news .slide,
.fixtures-and-results .slide,
.facilities .slide {
  height: 300px;
}
.club-news .slide .my-slick-slide,
.fixtures-and-results .slide .my-slick-slide,
.facilities .slide .my-slick-slide {
  height: 100%;
  width: 100%;
}
.club-news .slide .my-slick-slide .div-slide,
.fixtures-and-results .slide .my-slick-slide .div-slide,
.facilities .slide .my-slick-slide .div-slide {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}
.club-news .slide .my-slick-slide .div-slide img,
.fixtures-and-results .slide .my-slick-slide .div-slide img,
.facilities .slide .my-slick-slide .div-slide img {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 360px 220px;
}
.club-news .slide .my-slick-slide .div-slide .image-slide,
.fixtures-and-results .slide .my-slick-slide .div-slide .image-slide,
.facilities .slide .my-slick-slide .div-slide .image-slide {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 360px 220px;
}
.club-news .slide .my-slick-slide .div-slide .div-title,
.fixtures-and-results .slide .my-slick-slide .div-slide .div-title,
.facilities .slide .my-slick-slide .div-slide .div-title {
  background-color: #f5efef;
}
.club-news .slide .my-slick-slide .div-slide .div-title span,
.fixtures-and-results .slide .my-slick-slide .div-slide .div-title span,
.facilities .slide .my-slick-slide .div-slide .div-title span {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px;
}
.club-news .slide .arrow-left,
.fixtures-and-results .slide .arrow-left,
.facilities .slide .arrow-left {
  border: 1px solid #ccc;
  font-size: 30px;
  padding: 15px;
  color: #ccc;
  position: absolute;
  bottom: 50%;
  left: -15px;
  background-color: white;
  z-index: 1000;
  cursor: pointer;
}
.club-news .slide .arrow-right,
.fixtures-and-results .slide .arrow-right,
.facilities .slide .arrow-right {
  border: 1px solid #ccc;
  font-size: 30px;
  padding: 15px;
  color: #ccc;
  position: absolute;
  bottom: 50%;
  right: -15px;
  background-color: white;
  cursor: pointer;
}
